---
import SliderCarousel from '../SliderCarousel';
import chickButton from '../../assets/decorative-elements/chick-button.png';
import chickButtonHovered from '../../assets/decorative-elements/chick-button-hovered.png';
import type { HomeContent, Locale } from '../../i18n';
import { getRelativeLocaleUrl } from 'astro:i18n';

interface Props {
  id?: string;
  currentLocale: Locale;
  content: HomeContent;
}

const { id = 'section-slider', currentLocale, content } = Astro.props;
const galleryHref = getRelativeLocaleUrl(currentLocale, 'galerie');
const photoEntries = Object.entries(
  import.meta.glob('../../assets/slider/*.{avif,jpg,jpeg,png,webp}', { eager: true })
);
type ImageModule = { src: string; width: number; height: number };
const photos = photoEntries
  .sort(([pathA], [pathB]) => pathA.localeCompare(pathB))
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  .map(([path, module], index) => {
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    const resolved = ((module as any)?.default ?? module) as ImageModule;
    return {
      image: resolved,
      alt: `${content.galleryImageAltPrefix} ${index + 1}`,
    };
  });
---

<figure id={id} class="decorative-block decorative-block--tall relative">
  <SliderCarousel
    client:load
    className="h-full"
    slides={photos.map((photo) => ({
      src: photo.image.src,
      width: photo.image.width,
      height: photo.image.height,
      alt: photo.alt,
    }))}
  />
  <a
    class="slider-chick-button chick-button"
    href={galleryHref}
    aria-label={content.sliderGalleryAriaLabel}
  >
    <span class="chick-button-image">
      <img class="chick-button-default" src={chickButton.src} alt="" loading="lazy" />
      <img class="chick-button-hover" src={chickButtonHovered.src} alt="" loading="lazy" />
    </span>
    <span class="chick-button-label">{content.sliderGalleryLabel}</span>
  </a>
</figure>
